h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.card {
    margin-bottom: 30px;
}

.signature_container {
    max-width: 100%;
    overflow: auto;
}

.signature_container img {
    box-sizing: content-box;
}